.header-container {
  display: flex;
  justify-content: center;
  padding: 32px;
  align-items: center;
  padding-left: 95px;
  padding-right: 95px;
  width: 100%;
}

.assignment-logo {
  width: 20%;
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.title-container {
  width: 80%;
}

.challenge-title {
  align-self: center;
  margin-left: 300px;
  font-size: 40px;
}
